/* General Styles */
/* * {
  border-radius: 30px;
} */

body {
  background-color: lightgoldenrodyellow;
}

.container {
  background-color: skyblue;
  border-radius: 20px;
}

.title {
  text-align: center;
  font-family: "Questrial";
  background-color: burlywood;
}

/* Navigation section */
.nav-wrapper {
  width: 100%;
  background-color: #e3f2fd;
}

nav {
  padding: 20px;
}

/* Header section */

header {
  width: 100%;
  text-align: center;
  font-family: "Questrial";
  padding: 20px;
}

/* Skills section */
.skills {
  text-align: center;
  font-family: "Questrial";
}

.skill-item {
  display: inline;
  padding: 20px;
}

.fab {
  width: 50px;
  height: 50px;
  font-size: 36px;
}

.skill-item img {
  width: 50px;
  height: 50px;
  padding: 0 0 15px 0;
}

/* Main section */

/* Projects section */
.projects-container {
  display: inline-block;
}

.projects {
  /* padding: 20px 0 0 0;
  background-color: green;
  max-height: 100%; */
  /* display: block; */
}

.project {
  width: 50%;
  max-height: 100%;
  float: left;
  display: inline;
  padding: 20px;
  text-align: center;
}

.button {
  padding: 10px;
}

/* Publication section */
.publications-container {
  display: inline-block;
}
.publications {
  padding: 20px 0 0 0;
}

.publication {
  width: 25%;
  float: left;
  display: inline-block;
  padding: 20px;
}

/* About me section */
.about-me-container {
  display: inline-block;
}

.about-me {
  /* display: inline-block; */
  padding: 20px;
  border-radius: 30px;
  /* float: left; */
}

.about-me img {
  border-radius: 50px;
  float: left;
}

.about-me h1 {
  text-align: center;
  font-family: "Questrial";
  background-color: burlywood;
}

.about-me p {
  float: none;
  font-size: 18px;
}

/* Footer section */

.footer-container {
  display: inline-block;
  float: left;
  width: 100%;
  text-align: center;
}

.footer-item {
  display: inline-block;
  padding: 10px 20px 20px 20px;
  clear: right;
  /* clear: right; */
}

.copyright {
  padding: 10px;
}

/* Media quieries */
