/* General Styles */
/* * {
  border-radius: 30px;
} */

body {
  background-color: lightgoldenrodyellow;
}

.container {
  background-color: skyblue;
  border-radius: 20px;
}

.title {
  text-align: center;
  font-family: "Questrial";
  background-color: burlywood;
}

/* Navigation section */

.topnav {
  overflow: hidden;
  background-color: #e3f2fd;
  text-align: center;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #e3f2fd;
  color: black;
}

.topnav a.active {
  background-color: #e3f2fd;
  color: black;
}

.topnav .icon {
  display: none;
}

/* .navbar {
  background-color: #e3f2fd;
  padding: 20px;
  overflow: hidden;
} */

/* Header section */

/* h1,
h3 {
  text-align: center;
} */

.header {
  text-align: center;
  height: 400px;
  padding: 50px 0 0;
}

header {
  width: 100%;
  text-align: center;
  font-family: "Questrial";
  padding: 20px;
}

/* Skills section */
.skills {
  text-align: center;
  font-family: "Questrial";
}

.skill-item {
  display: inline;
  padding: 20px;
}

.fab {
  width: 50px;
  height: 50px;
  font-size: 36px;
}

.skill-item img {
  width: 50px;
  height: 50px;
  padding: 0 0 15px 0;
}

/* Main section */

/* Projects section */
.projects-container {
  display: inline-block;
}

.projects {
  /* padding: 20px 0 0 0;
  background-color: green;
  max-height: 100%; */
  /* display: block; */
}

.project {
  width: 50%;
  max-height: 100%;
  float: left;
  display: inline;
  padding: 20px;
  text-align: center;
}

.button {
  padding: 10px;
}

/* Publication section */
.publications-container {
  display: inline-block;
}
.publications {
  padding: 20px 0 0 0;
}

.publication {
  width: 25%;
  float: left;
  display: inline-block;
  padding: 20px;
}

/* About me section */
.about-me-container {
  display: inline-block;
}

.about-me {
  /* display: inline-block; */
  padding: 20px;
  border-radius: 30px;
  /* float: left; */
}

.about-me img {
  border-radius: 50px;
  float: left;
}

.about-me h1 {
  text-align: center;
  font-family: "Questrial";
  background-color: burlywood;
}

.about-me p {
  float: none;
  font-size: 18px;
}

/* Footer section */

.footer-container {
  display: inline-block;
  float: left;
  width: 100%;
  text-align: center;
}

.footer-item {
  display: inline-block;
  padding: 10px 20px 20px 20px;
  clear: right;
  /* clear: right; */
}

.copyright {
  padding: 10px;
}

/* Media quieries */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
