/* General Styles */
/* * {
  border-radius: 30px;
} */

body {
  background-color: lightgoldenrodyellow;
}

.container {
  background-color: skyblue;
}

h1 {
  text-align: center;
  font-family: "Questrial";
  background-color: burlywood;
}

/* Navigation section */
.nav-wrapper {
  width: 100%;
  background-color: #e3f2fd;
}

nav {
  padding: 20px;
}

/* Header section */
/* .header-wrapper {
  height: 500px;
} */

header {
  width: 100%;
  text-align: center;
  font-family: "Questrial";
  padding: 20px;
}

/* header h1 {
  background-color: burlywood;
} */

/* Skills section */
.skills {
  text-align: center;
  font-family: "Questrial";
}

/* .skills h1 {
  background-color: burlywood;
} */

.skill-item {
  display: inline;
  padding: 20px;
}

.fab {
  width: 50px;
  height: 50px;
  font-size: 36px;
}

.skill-item img {
  width: 50px;
  height: 50px;
  padding: 0 0 15px 0;
}

/* Main section */

/* Projects section */
.projects {
  padding: 20px 0 0 0;
}

/* .projects h1 {
  text-align: center;
  background-color: burlywood;
  font-family: "Questrial";
} */

.project {
  width: 50%;
  max-height: 100%;
  float: left;
  display: inline-block;
  padding: 50px;
  text-align: center;
}

.button {
  padding: 10px;
}

/* Publication section */

.publications {
  padding: 20px 0 0 0;
}

/* .publications h1 {
  text-align: center;
  font-family: "Questrial";
  background-color: burlywood;
} */

.publication {
  width: 25%;
  max-height: 100%;
  float: left;
  display: inline-block;
  padding: 50px;
}

/* About me section */

.about-me {
  /* background-color: burlywood; */
  display: inline-block;
  padding: 20px;
  border-radius: 30px;
}

.about-me img {
  border-radius: 50px;
}

.about-me h1 {
  text-align: center;
  font-family: "Questrial";
  background-color: burlywood;
}

/* Footer section */

.footer-wrapper {
  width: 100%;
}

.footer-item {
  display: inline;
  padding: 20px 20px 20px 20px;
  float: right;
}

.copyright {
  float: left;
}
